.login-form-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100vh - 50px);
    overflow:hidden;
}
.login-form{
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 40px;
    border-radius: 0px;
    border: 1px solid $primary;
    display: flex;
    box-shadow:10px 10px 5px rgba(black,0.2);
}
.input-field{
    margin: 20px;
    width: 100%;
    display: flex;
    flex: 1;
}
