@import "_variables.module.scss";

@import "../../../node_modules/bootstrap/scss/functions";

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities.scss";


a:hover {
  color: white !important;
}
* {
  margin: 0;
  padding: 0;
}
$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
@import "navbar.scss";
@import "filters.scss";
@import "product.scss";
@import "form.scss";
@import "utilities.scss";
@import "image_modal.scss";
@import "spinner.scss";
@import "footer.scss";