$accordion-button-active-bg:white;
$accordion-button-active-color:black;
$accordion-button-focus-border-color:none;
$accordion-button-focus-box-shadow:none;
$primary:#75bfae;
@import '../../../node_modules/bootstrap';
